.NotFound-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    text-align: center;
}
.NF404 {
    margin-top: 10vh;
    font-size: 8rem;
    margin-bottom: 20px;
    background: linear-gradient(135deg, var(--primary, #1337ec), #091b72);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;
    text-shadow: 0 0 10px rgba(37, 99, 235, 0.5);
}
.NFDiv{
    padding: 30px;
    width: 25vw;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(37, 99, 235, 0.3);
    animation: DivBorderPulse 3s infinite;
}

.NFDiv h2 {
    font-size: 1.5rem;
    color: #ffffff;
}
.NFDiv span {
    font-size: 0.9rem;
    color: #9d9d9d;
}
.NFDiv button {
    display: flex;
    flex-direction: row;
    padding: 15px 20px;
    border: none;
    background-color: #2563eb;
    color: #fff;
    border-radius: 9999px;
    cursor: pointer;
    transition: all 0.3s ease;
    align-items: center;
    font-size: 0.9rem;
}
.NFDiv button img {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}
.NFDiv button:hover {
    background-color: #1e40af;
    box-shadow: 0 0 10px rgba(37, 99, 235, 0.4);
}
@keyframes DivBorderPulse {
    0% {
        box-shadow: 0 0 20px rgba(37, 99, 235, 0.3);
    }
    50% {
        box-shadow: 0 0 30px rgba(37, 99, 235, 0.5);
    }
    100% {
        box-shadow: 0 0 20px rgba(37, 99, 235, 0.3);
    }
} 
/* Media Queries para Responsividade */

/* Tablets */
@media (max-width: 1024px) {
    .NF404 {
        font-size: 6rem;
    }
    .NFDiv {
        width: 50vw;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .NF404 {
        font-size: 9rem; /* Fonte aumentada */
    }
    .NFDiv {
        width: 90vw;
        height: 30vh; /* Altura da div aumentada */
        padding: 40px 30px;
        gap: 25px;
    }
    .NFDiv h2 {
        font-size: 2rem; /* Fonte aumentada */
    }
    .NFDiv span {
        font-size: 1.1rem; /* Fonte aumentada */
        line-height: 1.6;
    }
    .NFDiv button {
        width: 100%;
        justify-content: center;
        padding: 18px;
        font-size: 1.1rem; /* Fonte aumentada */
    }
}

/* Telas muito pequenas */
@media (max-width: 480px) {
    .NF404 {
        font-size: 7rem;
    }
    .NFDiv {
        height: 30vh;
        min-width: unset;
        padding: 30px 20px;
    }
    .NFDiv h2 {
        font-size: 1.7rem;
    }
}