.perfil-content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profileInfo{
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    margin-top: 2rem;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);

}
.profileIcon{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    margin-top: 2rem;
    border: 4px solid black;
    box-shadow: 0 0 20px rgba(37, 99, 235, 0.4);
    overflow: hidden;
    object-fit: cover;

}
.profileLevel{
    position: absolute;
    top: 150px;
    width: 100px;
    height: auto;
    background: linear-gradient(90deg, rgba(37, 99, 235, 1),rgba(37, 99, 235, 1) ,rgb(158, 0, 194));
    padding: 6px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    border: 4px solid black;
    font-size: 1rem;
}
.profileIcon img{
    width: 105%;
    height: 105%;
}
.profileName{
    margin-top: 1.5rem;
    font-size: 1.4rem;
    font-weight: bold;
}
.profileTitle{
    margin-top: 0.2rem;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.7);
}
